﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="ERC.html" name="" title="ERC">ERC</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="ERC.DisplayOutput.html" name="" title="DisplayOutput">DisplayOutput</a>
                          </li>
                          <li>
                              <a href="ERC.ErcCore.html" name="" title="ErcCore">ErcCore</a>
                          </li>
                          <li>
                              <a href="ERC.ERCException.html" name="" title="ERCException">ERCException</a>
                          </li>
                          <li>
                              <a href="ERC.ErcResult-1.html" name="" title="ErcResult&lt;T&gt;">ErcResult&lt;T&gt;</a>
                          </li>
                          <li>
                              <a href="ERC.MachineType.html" name="" title="MachineType">MachineType</a>
                          </li>
                          <li>
                              <a href="ERC.ModuleInfo.html" name="" title="ModuleInfo">ModuleInfo</a>
                          </li>
                          <li>
                              <a href="ERC.ProcessInfo.html" name="" title="ProcessInfo">ProcessInfo</a>
                          </li>
                          <li>
                              <a href="ERC.ThreadInfo.html" name="" title="ThreadInfo">ThreadInfo</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="ERC.Structures.html" name="" title="ERC.Structures">ERC.Structures</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="ERC.Structures.AllocationProtect.html" name="" title="AllocationProtect">AllocationProtect</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.ClientID.html" name="" title="ClientID">ClientID</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.CONTEXT_FLAGS.html" name="" title="CONTEXT_FLAGS">CONTEXT_FLAGS</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.CONTEXT32.html" name="" title="CONTEXT32">CONTEXT32</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.CONTEXT64.html" name="" title="CONTEXT64">CONTEXT64</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.FLOATING_SAVE_AREA.html" name="" title="FLOATING_SAVE_AREA">FLOATING_SAVE_AREA</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_DATA_DIRECTORY.html" name="" title="IMAGE_DATA_DIRECTORY">IMAGE_DATA_DIRECTORY</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_DOS_HEADER.html" name="" title="IMAGE_DOS_HEADER">IMAGE_DOS_HEADER</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_FILE_HEADER.html" name="" title="IMAGE_FILE_HEADER">IMAGE_FILE_HEADER</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_LOAD_CONFIG_CODE_INTEGRITY.html" name="" title="IMAGE_LOAD_CONFIG_CODE_INTEGRITY">IMAGE_LOAD_CONFIG_CODE_INTEGRITY</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_LOAD_CONFIG_DIRECTORY32.html" name="" title="IMAGE_LOAD_CONFIG_DIRECTORY32">IMAGE_LOAD_CONFIG_DIRECTORY32</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_LOAD_CONFIG_DIRECTORY64.html" name="" title="IMAGE_LOAD_CONFIG_DIRECTORY64">IMAGE_LOAD_CONFIG_DIRECTORY64</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_NT_HEADERS32.html" name="" title="IMAGE_NT_HEADERS32">IMAGE_NT_HEADERS32</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_NT_HEADERS64.html" name="" title="IMAGE_NT_HEADERS64">IMAGE_NT_HEADERS64</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_OPTIONAL_HEADER32.html" name="" title="IMAGE_OPTIONAL_HEADER32">IMAGE_OPTIONAL_HEADER32</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.IMAGE_OPTIONAL_HEADER64.html" name="" title="IMAGE_OPTIONAL_HEADER64">IMAGE_OPTIONAL_HEADER64</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.LIST_ENTRY.html" name="" title="LIST_ENTRY">LIST_ENTRY</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.LOADED_IMAGE.html" name="" title="LOADED_IMAGE">LOADED_IMAGE</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.LoadLibraryFlags.html" name="" title="LoadLibraryFlags">LoadLibraryFlags</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.M128A.html" name="" title="M128A">M128A</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.MagicType.html" name="" title="MagicType">MagicType</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.MEMORY_BASIC_INFORMATION32.html" name="" title="MEMORY_BASIC_INFORMATION32">MEMORY_BASIC_INFORMATION32</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.MEMORY_BASIC_INFORMATION64.html" name="" title="MEMORY_BASIC_INFORMATION64">MEMORY_BASIC_INFORMATION64</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.ProcessAccessFlags.html" name="" title="ProcessAccessFlags">ProcessAccessFlags</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.RegisterInfo.html" name="" title="RegisterInfo">RegisterInfo</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.StateEnum.html" name="" title="StateEnum">StateEnum</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.SubSystemType.html" name="" title="SubSystemType">SubSystemType</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.TEB.html" name="" title="TEB">TEB</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.ThreadAccess.html" name="" title="ThreadAccess">ThreadAccess</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.ThreadBasicInformation.html" name="" title="ThreadBasicInformation">ThreadBasicInformation</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.TypeEnum.html" name="" title="TypeEnum">TypeEnum</a>
                          </li>
                          <li>
                              <a href="ERC.Structures.XSAVE_FORMAT64.html" name="" title="XSAVE_FORMAT64">XSAVE_FORMAT64</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="ERC.Utilities.html" name="" title="ERC.Utilities">ERC.Utilities</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="ERC.Utilities.OpcodeAssembler.html" name="" title="OpcodeAssembler">OpcodeAssembler</a>
                          </li>
                          <li>
                              <a href="ERC.Utilities.OpcodeDisassembler.html" name="" title="OpcodeDisassembler">OpcodeDisassembler</a>
                          </li>
                          <li>
                              <a href="ERC.Utilities.PatternTools.html" name="" title="PatternTools">PatternTools</a>
                          </li>
                          <li>
                              <a href="ERC.Utilities.Payloads.html" name="" title="Payloads">Payloads</a>
                          </li>
                          <li>
                              <a href="ERC.Utilities.PtrRemover.html" name="" title="PtrRemover">PtrRemover</a>
                          </li>
                          <li>
                              <a href="ERC.Utilities.RopChainGenerator32.html" name="" title="RopChainGenerator32">RopChainGenerator32</a>
                          </li>
                          <li>
                              <a href="ERC.Utilities.RopChainGenerator32.X86Lists.html" name="" title="RopChainGenerator32.X86Lists">RopChainGenerator32.X86Lists</a>
                          </li>
                          <li>
                              <a href="ERC.Utilities.RopChainGenerator64.html" name="" title="RopChainGenerator64">RopChainGenerator64</a>
                          </li>
                          <li>
                              <a href="ERC.Utilities.RopChainGenerator64.X64Lists.html" name="" title="RopChainGenerator64.X64Lists">RopChainGenerator64.X64Lists</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>